@model ArticleReviewSystem.ViewModels.AddArticleViewModel

<!doctype html>

<link href="~/Content/AddArticleStyling.css" rel="stylesheet" />

<html>

<body>

    <div class="main">
        <div class="container tim-container" style="max-width:800px; padding-top:100px">
            <h1 class="text-center">Add article</h1>
            <h4 class="text-center">@ViewData["Extension"]</h4>
            <section id="RegisForm">

                @using (Html.BeginForm("AddArticle", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CoAuthorsCounter)
                    @Html.HiddenFor(model => model.MaxCoAuthors)
                    <div class="form-horizontal">
                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="coAutohorsBox">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(model => model.CoAuthors, htmlAttributes: new { @class = "control-label col-md-2" })
                                <a href="#" id="coAuthPlus"><span class="more-less glyphicon glyphicon-plus-sign" style="vertical-align:middle;"></span></a>
                                <a href="#" id="coAuthMinus"><span class="more-less glyphicon glyphicon-minus-sign" style="vertical-align:middle;"></span></a>
                            </div>
                            @Html.ValidationMessageFor(model => model.CoAuthors, "", new { @class = "text-danger" })

                            @{
                                for (int i = 0; i < 7; i++)
                                {
                                    <div class="panel panel-default" id='CoAuthorPanel@(i)'>
                                        <h5>CoAuthor #@(i + 1)</h5>
                                        <div class="form-group">
                                            @Html.Label("[" + i + "].Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-8">
                                                @Html.Editor("[" + i + "].Name", new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                @Html.ValidationMessage("[" + i + "].Name", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("[" + i + "].Surname", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-8">
                                                @Html.Editor("[" + i + "].Surname", new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                @Html.ValidationMessage("[" + i + "].Surname", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("[" + i + "].Affiliation", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-8">
                                                @Html.Editor("[" + i + "].Affiliation", new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                @Html.ValidationMessage("[" + i + "].Affiliation", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                <div class="input-group article-preview" style="height:100%">
                                    <input type="text" class="form-control article-preview-filename" disabled="disabled" style="height:100%">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default article-preview-clear" style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Clear
                                        </button>
                                        <div class="btn btn-default article-preview-input">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="article-preview-input-title">Browse</span>
                                            <input type="file" accept=".pdf" name="File" />
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-block btn-lg btn-info btn-fill" />
                            </div>
                        </div>
                    </div>
                                }

            </section>
        </div>
        <div class="space"></div>
    </div>

</body>

</html>

<script src="~/Scripts/AddArticleScript.js"></script>
<script src="~/Scripts/AddArticleFileBrowseScript.js"></script>